/* Add your code in each class */
.container {
  height: 300px;
  width: 400px;
  /* clip: auto; */
}
.head {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: bisque;
  position: sticky;
  top: 0;
}

.row {
  /* .row is used in ./index.js not in the html filee */
  background-color: aqua;
}
.list {
  overflow: scroll;
  /* height: 300px; */
}

/* This is a gift - Does not need editing */
/* Learn more about CSS Pseudo Classes https://www.w3schools.com/css/css_pseudo_classes.asp*/
.row:hover {
  text-decoration: line-through;
  cursor: pointer;
}
