/* Add your code in each class */
body {
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  text-align: center;
  height: 100vh;
}
.movie-card {
  width: 40%;

  border: 2px solid black;
  position: relative;
  height: 250px;
}
.movie-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.movie-details-container {
  z-index: 1;
  height: 100%;
}
.descriptions {
  position: absolute;
  z-index: 1;
  text-align: left;
  padding-left: 20px;

  width: 100%;
  color: white;
  bottom: 0;
}

/*A gift from us!*/
.movie-shadow {
  /*
      This gradient was made by this website https://cssgradient.io/
  */
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  top: 0;
}
.movie-title {
  font-weight: bold;
}
