/* Add your code in each class */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
.container {
  background-color: #37154c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.movie-card {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 300px;
  height: 300px;
  background-color: white;
}
.movie-image {
  object-fit: cover;
  z-index: 0;
  width: 100%;
}
.movie-details-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.descriptions {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-weight: bold;
  margin-bottom: 2px;
}
